*.dat
*.pyc
data/ABPO_2009.txt
data/ABPO2009_foF2.txt
data/DARW_2009.txt
data/DARW2009_foF2.txt
data/JOG2_2009.txt
data/JOG22009_foF2.txt
data/MALUKU_2009.txt
data/MALUKU2009_foF2.txt
data/POMIO_2009.txt
data/POMIO2009_foF2.txt
data/SUL_2009.txt
data/SUL2009_foF2.txt
data/DARW_2015.txt
data/JOG2_2015.txt
data/MALUKU_2015.txt
data/POMIO_2015.txt
data/SUL_2015.txt
data/2015_merged_foF2.txt
data/foF2_ML_Experiments.xlsx
.vscode/settings.json
